<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Blog</h1>
    <div class="col-6 offset-3">
        <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="blog[title]"
                    value="<%=blog.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="blog[image]"
                    value="<%=blog.image %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="body">Blog Body</label>
                <textarea class="form-control"  type="text" id="body" name="blog[body]"  required ><%=blog.body %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="desc">Blog Description</label>
                <textarea class="form-control" type="text" id="desc" name="blog[Description]"  required ><%=blog.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

           
            <div class=" d-inline">
                <button class="btn btn-info mb-3">Update Blog</button>
                <a class="btn btn-info mb-3" href="/blogs/<%= blog._id%>">Back To Blog</a>

            </div>
        </form>

    </div>
</div>