<% layout('layouts/boilerplate')%>

<div class="container">
    <div class="row justify-content-center my-2">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <img src="<%= blog.image %>" class="card-img-top" alt="Image">
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text" style="line-height: normal; white-space:pre-wrap"><%= blog.body %></p>
            <% if(currentuser && blog.author.equals(currentuser._id)){ %><%# currentuser is a variable that holds object of req.user, defiend in the index.js file as middleware %>

                <a class="card-link btn btn-info" href="/blogs/<%=blog._id%>/edit">Edit</a>
                <form class="d-inline" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>
            <a href="/blogs" class="btn btn-primary">All Blogs</a>
          </div>
          <div class="card-footer text-muted">
            Posted on April 23, 2023 by <%= blog.author.username %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div style="max-width:65%;margin:2.5% auto; text-align:center">
        <% if(currentuser){ %>
            <h2>Leave a comment</h2>

        <form action="/blogs/<%=blog._id%>/comments" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3" >
                <label class="form-label" for="body">Comment</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
        

        <% for(let review of blog.reviews) { %>

            <div class="card mb-3" style="max-width: 65%; margin: 0 auto;">
                <div class="card-body">
                    <p class="card-text">Comment: <%= review.body %></p>
                    <p class="card-subtitle mb-2 text-muted">By <%= review.author.username %></p>
                    <% if(currentuser && review.author.equals(currentuser._id)){ %>
                    <form action="/blogs/<%=blog._id%>/comments/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            
        <% } %>
    </div>

    
            
      
      
</div>








	


